svg
  +size(1.5em)
  vertical-align: bottom
  &.facebook path
    fill: #3C5A96
  &.reddit path
    fill: darken(#CEE3F8, 20%)
  &.steam path
    fill: #262626
  &.linkedin path
    fill: #0077B5
  &.twitter path
    fill: #55ACEE

.social-media-link
  display: inline-block

.social-media-link-container
  padding:
    left: 0
    right: 0
