---
permalink: /content/contact.html
---

<div class="card center-card">
  <div class="card-content link-card">
    <a class="waves-effect btn-flat" href="mailto:gaben@valvesoftware.com">gaben@valvesoftware.com</a>
  </div>
</div>
<div class="card center-card">
  <div class="card-content">
    <span class="card-title">Social Media</span>
    <div class="card-action no-scale social-media-link-container">
      <a class="social-media-link" href="http://reddit.com/u/GabeNewellBellevue">{% include reddit.svg %}Reddit</a>
      <a class="social-media-link" href="http://reddit.com/u/GabeNewellBellevue">{% include reddit.svg %}Reddit</a>
      <a class="social-media-link" href="http://reddit.com/u/GabeNewellBellevue">{% include reddit.svg %}Reddit</a>
      <a class="social-media-link" href="http://reddit.com/u/GabeNewellBellevue">{% include reddit.svg %}Reddit</a>
      <a class="social-media-link" href="http://reddit.com/u/GabeNewellBellevue">{% include reddit.svg %}Reddit</a>
    </div>
  </div>
</div>
