---
permalink: /content/contact.html
---

<div class="card center-card">
  <div class="card-content link-card">
    <a class="waves-effect btn-flat" href="mailto:gaben@valvesoftware.com">gaben@valvesoftware.com</a>
  </div>
</div>
<div class="card center-card">
  <div class="card-content link-card">
    <a class="waves-effect btn-flat" href="mailto:Secretary.Castro@hud.gov">Secretary.Castro@hud.gov</a>
  </div>
</div>
<div class="card center-card">
  <div class="card-content">
    <span class="card-title">Gabe Newell on Social Media</span>
    <div class="card-action no-scale social-media-link-container">
      <a class="social-media-link" href="http://reddit.com/u/GabeNewellBellevue">{% include reddit.svg %}Reddit</a>
      <a class="social-media-link" href="https://www.facebook.com/pages/Gabe-Newell/103115986394977">{% include facebook.svg %}Facebook</a>
      <a class="social-media-link" href="http://steamcommunity.com/id/gabelogannewell">{% include steam.svg %}Steam</a>
      <a class="social-media-link" href="https://www.linkedin.com/in/gabenewell">{% include linkedin.svg %}LinkedIn</a>
    </div>
  </div>
</div>
<div class="card center-card">
  <div class="card-content">
    <span class="card-title">Julian Castro on Social Media</span>
    <div class="card-action no-scale social-media-link-container">
      <a class="social-media-link" href="https://twitter.com/secretarycastro">{% include twitter.svg %}Twitter</a>
      <a class="social-media-link" href="https://www.facebook.com/SecretaryCastro">{% include facebook.svg %}Facebook</a>
      <a class="social-media-link" href="https://twitter.com/juliancastro">{% include twitter.svg %}Personal Twitter</a>
      <a class="social-media-link" href="https://www.facebook.com/Julian-Castro-97458155742/">{% include facebook.svg %}Personal Facebook</a>
    </div>
  </div>
</div>
