<div class="faceimg">
  <img src="assets/img/gaben.png" />
</div>

<div class="title">
  <h1>Gabe Newell</h1>
  <h2>Are you ready for a miracle?</h2>
</div>

<div class="links">
  <hr>
  <li>
    <a class="navlink active-nav" href="#" ajax="about">About</a>
  </li>
  <hr>
  <li>
    <a class="navlink" href="#" ajax="media">Media</a>
  </li>
  <hr>
  <li>
    <a class="navlink" href="#" ajax="contact">Contact</a>
  </li>
  <hr>
  <li>
    <a href="#" class="navlink" ajax="survey">Survey</a>
  </li>
  <hr>
  <li>
    <a href="#" class="navlink" ajax="budget">Budget</a>
  </li>
</div>
