<div class="faceimg">
  <img src="assets/img/girlupamity.png" />
</div>

<div class="title">
  <h1>Girl Up Amity</h1>
  <h2>Uniting Girls to Change the World</h2>
</div>

<hr>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit cursus malesuada. Praesent maximus, nibh feugiat porttitor faucibus, arcu justo vestibulum ipsum, ac bibendum magna odio quis augue.
</p>
<!--
<div class="links">
  <hr>
  <li>
    <a class="navlink active-nav" href="#" ajax="about">About</a>
  </li>
  <hr>
  <li>
    <a class="navlink" href="#" ajax="media">Media</a>
  </li>
  <hr>
  <li>
    <a class="navlink" href="#" ajax="contact">Contact</a>
  </li>
  <hr>
  <li>
    <a href="#" class="navlink" ajax="survey">Survey</a>
  </li>
  <hr>
  <li>
    <a href="#" class="navlink" ajax="budget">Budget</a>
  </li>
  <hr>
  <li>
    <a href="#" class="navlink" ajax="funding">Funding</a>
  </li>
</div>
-->
<div id="copyright">
  &copy; <script>document.write(new Date().getFullYear());</script>, Mathew Kirschbaum.
</div>
