<div class="faceimg">
  <img src="assets/img/girlupamity.png" />
</div>

<div class="title">
  <h1>Girl Up Amity</h1>
  <h2>Uniting Girls to Change the World</h2>
</div>

<hr>

<p id="blurb">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit cursus malesuada. Praesent maximus, nibh feugiat porttitor faucibus, arcu justo vestibulum ipsum, ac bibendum magna odio quis augue. (What should I put in here?)
</p>

<div id="copyright">
  &copy; <script>document.write(new Date().getFullYear());</script>, Mathew Kirschbaum.
</div>
